language: objective-c
osx_image: xcode9.2
rvm:
- 2.2         #see before_install for getting RVM stable.

env:
- PACKAGE_VERSION="1.0" UNITY_DOWNLOAD_CACHE="$(pwd)/unity_download_cache"

cache:
  directories:
    - $UNITY_DOWNLOAD_CACHE

before_install:
- rvm get stable
- chmod a+x ./travis-build/*.sh

install:
- cat /etc/hosts
- ./travis-build/install-unity.sh

script:
- ./travis-build/build.sh
- ./travis-build/run-tests.sh

after_success:
- ./travis-build/export-unity-package.sh
